<div class="footer">
   <div class='footerItem'>
     <h3>Support</h3>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
   </div>  
   <div class='footerItem'>
     <h3>Support</h3>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
   </div>  
   <div class='footerItem'>
     <h3>Support</h3>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
   </div>   
   <div class='footerItem'>
     <h3>Support</h3>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
     <p>lorem episum</p>
   </div>          
</div>
<p class="text-center">CipiStore &copy; 2022, All Right Reserved
</p>