<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>CipiStore</title>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); -%>
    </header>
    
    <!-- main section -->
    <main>
        <%- messages() %>
        <%- body %>
    </main>
    
    <!-- footer section -->
    <footer>
      <%- include('../partials/footer'); -%>
    </footer>

    <!-- javacript section -->
    
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>