
  <div class="row">
    
      <h2>Add book</h2>
      <form method="post" action="/manage/books">
        <div class="container">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="">Title</label>
              <input class="form-control" type="text" name="title">  
            </div>
          </div>  
          <div class="form-group row">
            <label for="">Author
              <input class="form-control col-sm-12" type="text" name="author">
            </label>
          </div> 
          <div class="form-group row">
            <label for="">Publisher
              <input class="form-control col-sm-12" type="text" name="publisher">
            </label>
          </div>   
          <div class="form-group row">
            <label for="">Price
              <input class="form-control col-sm-12" type="text" name="price">
            </label>
          </div>
        
          <div class="form-group row">
            <label for="">Category
              <select name="category" id="" class="form-control col-sm-12">
                <% for( let i = 0; i < categories.length; i++ ) { %>
                  <option value="<%= categories[i].name %> "><%= categories[i].name %></option>
                <% } %>
              </select>
            </label>
          </div>
        
          <div class="form-group row">
            <label for="">Description
              <textarea name="description" id=""  rows="10" class="form-control col-sm-12"></textarea> 
            </label>
          </div>
          <div class="form-group row">
            <label for="">Cover URL
              <input class="form-control" type="text" name="cover">
            </label>
          </div>
      
          <div class="form-group row">
              <div class="col-sm-12">
                <input type="submit" class="btn btn-primary" value="submit">
              </div>
          </div>
          <div>
            <input class="form-control" type="hidden" name="_csrf" value="">
          </div>
        
        </div>
        </div>
          
      </form>
    
  </div>
