.bg-light{
    background-color: white !important;
    /* background-image: linear-gradient(to right, blue, rgb(155, 170, 240), blue) !important; */
    box-shadow: 5px 5px 5px 5px #eee6e6;
    
}
.nav-link, .navbar-brand{
  color: var(--primary-color);
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  /* font-size: 18px; */
}
.nav-link:hover{
color: rgb(190, 60, 132);
}
.h-icon{
margin-left: 3px;
}

/* for medium screen */
@media only screen and (min-width: 768px) {
   

}