@import 'header.css';
@import 'footer.css';
/* @import url("navigation.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400&family=Pinyon+Script&display=swap'); */

:root {
	--primary-color: rgba(13, 155, 13, 0.904);
	--secondary-color: white;
   }
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
main{
	margin: 0;
	padding: 0;
	min-height: 60vh;
}
/* flash messages */
h4 ul{
	list-style-type: none;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-self: center;
	}
h4 .info li{
	color: green;
    font-weight: 400;
}
h4 .error li{
	color: rgb(179, 54, 54);
    font-weight: 400;
}

/* books page */
.books{
	padding: 20px;
}
.books .itemscontainer{
display: grid;
grid-template-columns: 50% 50%;
gap: 10px;
}
.books .item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	border-radius: 0 0 10px 10px;
	height: 350px;
}
.book .img-container{
	height: 50%;
	width: 100%;
}
.books img{
	height: 100%;
    width: 100%;
}
.books .item .name{
	width: 100%;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: inherit;
}
.books .item .name:hover{
font-weight: 700;
color: rgb(91, 172, 131);
}


/* single book page */
.singlebook {
margin: 0;
}
.singlebook .buy{
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
}

.singlebook .buynow, .singlebook .addtocart{
    width: 109px;
}
.singlebook .addtocart{
	background-color: var(--primary-color) !important;
	font-weight: 600;
}
.singlebook .buynow{
	background-color: white;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	font-weight: 600;
}
.singlebook .bookInfo{
	margin: 0;
	padding-bottom: 0;
}
.singlebook .price{
	font-weight: 700;
	color: rgb(190, 202, 20);
	margin-left: 30px;
}
.singlebook .desc{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}
.singlebook .related{
	display: flex;
}


/* for medium screen */
@media only screen and (min-width: 768px) { 
 .books .itemscontainer{
display: grid;
grid-template-columns: 33% 33% 33%;
}

}

/* for large screen */
@media only screen and (min-width: 1140px) { 
	.books .itemscontainer{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   }
   }

  