<div class="row">
  <div class="col-12">
    <h2>
      Shopping
      <span><a href="/cart/remove">Empty Cart</a></span>
    </h2>
    <% if (cart.items !== []) { %>
    <table>
      <thead>
        <tr>
          <th width="650">Item</th>
          <th width="100">Quantity</th>
          <th width="100">Total</th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        <% for( let i = 0; i < cart.items.length; i++ ) { %>
        <tr>
          <td>
            <a href="/books/details/<%= cart.items[i]._id %> "
              ><%= cart.items[i].title %></a
            >
          </td>
          <td><%= cart.items[i].qty %></td>
          <td>
            <% = cart.items[i].price * cart.items[i].qty %> <%= total
            %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } else{%>
    <p>There are no item in your cart</p>
    <%} %>
  </div>
</div>
