<div class="about container">
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id sapien
    ut justo vestibulum lacinia ac sed neque. Sed a porttitor urna. Suspendisse
    a arcu id enim eleifend fringilla. Nam augue dolor, porttitor sit amet lorem
    dictum, sagittis tempus ante. Cras pulvinar risus ut neque laoreet
    malesuada. Etiam a sollicitudin tortor. Phasellus et pulvinar nunc, eu
    finibus elit. Ut faucibus tortor magna, sed commodo magna lacinia vitae.
    Fusce rutrum fermentum urna, quis tempor augue sagittis a. Fusce pharetra
    libero leo, eget pulvinar neque sollicitudin eget. Integer nisi libero,
    vestibulum at nulla id, suscipit feugiat enim. Sed quis mollis sapien.
    Pellentesque ullamcorper bibendum gravida. Donec viverra sapien eu
    sollicitudin tempus. Fusce semper augue quis massa interdum viverra. In
    efficitur erat id turpis venenatis, a varius est faucibus. Sed a tortor
    vitae odio porta feugiat tempor eget nunc. Maecenas eu orci congue mi
    egestas malesuada. Integer consectetur massa ut rhoncus auctor. Nam volutpat
    consequat turpis, convallis eleifend augue euismod ut. Curabitur vestibulum
    auctor auctor. Phasellus tellus sem, volutpat eget ornare vitae, dictum sed
    sem
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id sapien
    ut justo vestibulum lacinia ac sed neque. Sed a porttitor urna. Suspendisse
    a arcu id enim eleifend fringilla. Nam augue dolor, porttitor sit amet lorem
    dictum, sagittis tempus ante. Cras pulvinar risus ut neque laoreet
    malesuada. Etiam a sollicitudin tortor. Phasellus et pulvinar nunc, eu
    finibus elit. Ut faucibus tortor magna, sed commodo magna lacinia vitae.
    Fusce rutrum fermentum urna, quis tempor augue sagittis a. Fusce pharetra
    libero leo, eget pulvinar
  </p>
</div>
