<div class="about container-fluid">
  <div class="welcome">
    <h6>Home <i class="fa-solid fa-arrow-right"></i> About</h6>
    <h4>Home for all local, foriegn and all categories of books</h4>
  </div>
  <div class="building">
    <div class="img-container">
      <img src="/images/office.jpg" alt="cipistore office" />
    </div>
    <h4>CipiStore book shop</h4>
  </div>
  <div class="desc p-3">
    <h3 class="text-center">About Us</h3>
    <p>
      Cpistore is the most outstanding, best and trusted book store E-commerce
      website in Nigeria, established in May 2018 with its head office/book shop
      located in Abuja, the capital city of Nigeria. CipiStore provides the best
      set of quality text books ranging from Medical text books, Engineering
      text books history text books, Physical Science text books, Social Science
      text books etc. CipiStore has text books written by both local and foreign
      Authors.
    </p>
    <p>
      CipiStore also sell amd deliver text books at wholesale prices to other
      smaller book shops/stores around the country. At cipiStore, you get the
      best quality text books produced by the original publisher and not pirated
      copies. CipiStore do not sell any pirated copy of any text book. With
      cipiStore, you can order text books and have them delivered to your house
      or school within 2 to 7 days depending on the location in the country.
    </p>
    <p>
      cipiStore also supplies text books to some universities across the
      country.
    </p>
  </div>
  <div class="why-us">
    <h3 class="text-center">Why Us?</h3>
    <div class="content">
      <div class="item">
        <div class="img-container">
          <img src="/images/post.png" alt="delivery icon" />
        </div>
        <h4>Fast Delivery</h4>
        <p>usuallly around 5-7 days</p>
      </div>
      <div class="item">
        <div class="img-container">
          <img src="/images/post.png" alt="delivery icon" />
        </div>
        <h4>Best Prices</h4>
        <p>We offer the best price you can</p>
        <p>get anywhere around the country</p>
      </div>
      <div class="item">
        <div class="img-container">
          <img src="/images/post.png" alt="delivery icon" />
        </div>
        <h4>Top Quality</h4>
        <p>All our books are of high quality</p>
      </div>
    </div>
  </div>
</div>
