<div class="container-fluid books">
  <h2 class="mb-3">All Books</h2>
  <div class="itemscontainer">
    <% for( let i = 0; i < books.length; i++ ) { %>
    <div class="item">
      <a href="/books/<%= books[i]._id %>" class="name">
        <div class="img-container">
          <img src="<%= books[i].cover %> " class="" alt="cover" />
        </div>
      </a>
      <h5 class="my-2"><%= books[i].title %></h5>
      <p class="price">$<%= books[i].price %></p>
      <a href="/cart" class="btn add">Add to Cart</a>
    </div>
    <% } %>
  </div>
</div>
