<div class="register">
  <div class="brand-logo">
    <a href="/"
      ><img
        src="/images/brand2.png"
        alt="brand"
        class="d-inline-block align-text-top me-1"
    /></a>
  </div>
  <div class="brand-title">CipiStore</div>

  <h3 class="mt-3 text-center">Sign Up</h3>

  <form action="/auth/register" method="post" class="input">
    <div class="mb-3">
      <label for="firstname" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" />
    </div>
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="mt-3">
    <p class="">
      Already have an acoount? <a href="/auth/login" class="">Login</a>
    </p>
  </div>
</div>
